# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/

# AWS SAM build artifacts
.aws-sam/

# Test artifacts
apitest.txt

# OS/editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Node.js (for frontend, later)
node_modules/
dist/
build/
